table
{
position: relative;
width:400px;
border:1px solid black;
background-color: #ffffff;
border-spacing:0px;
border-top: #ffffff;
margin: 0 auto;
text-align: left;
width: 40%;
border-top-left-radius:23px;
border-top-right-radius:26px;
box-shadow: 10px 10px 5px #9e9e9e;
}
th
{
background-color: #1432F5;
border-top-left-radius:23px;
border-top-right-radius:26px;
color: #ffffff;
text-align: center;
}

#top
{
	position: relative;
	
	
	margin:0 0 0 0;
	padding-bottom: 10px;
}
